{%extends 'all-news/base.html'%}
{% load static%}

{% block content %}
{{block.super}}
<header>
<div class="container" style="position:relative ">
  <img style="width:1500px ;background-size: cover" alt="miam" src="{% static 'css/images/resto_bg.png'%}" />
  <div class="centered " style="position:absolute; top:20%;left:20%;" ><h1 style="color:white">Kugasima caffee</h1></div>
 
  <div class="top-left" style="position:absolute;top: 15%;left:10%;"><img width="100"  alt="miam" src="{% static 'css/images/restaurant.png'%}" />
  </div>
</div>
</header>
<br>
<br>


<body style="background-color: #f5fafc;">
    <!-- Looping through news   -->


  
    
<hr style="width:190%">
<div class="container">
  <div class="row">
    {% for all in profile %}
  



    <!-- displaying News articles -->
    <div class="col-md-4" style="margin-top: 5%;"><br><br>
    
        <h2 > {{ all.name }} </h2>
      <a href="http://maps.google.com/maps?q={{s.location}}"> <h2>{{ all.location }} </h2></a>
    </div>
      <br>
      <br>
      {% endfor %}

      <div class="col-md-4"  style="width:250px ; height:250px ;margin-top:5% ; display:flex; justify-content:right ">

        <!-- Looping through news   -->
        {% for one in details %}
      
    
    
      <div class="card"  style="width:90%">
        <!-- displaying News articles -->
    
        
          <h2 > {{ one.menu_name }} </h2>
          <h2 > {{ one.price }} </h2>
          <br>
          <br>
       
        </div>
    
      
      </div>
      {% endfor %}

      </div>
      <br>
    </div>
  
 </div>
  
  


</body>


  {% endblock %}